.addTodoContainer {
  flex: 0.7;
  margin: 0 auto;
  border-right: 1px solid;
}

.addTodo {
  width: 400px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 20px;
}


/* .addbutton {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
} */
